{% extends "page.twig" %}

{% block page_follow %}

    <div class="row-fluid index-blocks">
        {% for item in [
            { page: "wie-ben-ik", image: "/img/richardhinkamp-zw-span3.jpg", btntext: "Lees meer over mij" },
            { page: "wat-maakt-mij-anders", image: "/img/waarom.jpg", btntext: "Wat maakt mij anders?" },
            { page: "huur-mij-in-voor", image: "/img/handshake.jpg", btntext: "Bekijken mijn diensten" },
            { page: "ik-weet-veel-over", image: "/img/kennis.jpg", btntext: "Meer over mij kennis" } ] %}
            <div class="span3 index-block">
                <div>
                    {% setcontent page = "info/" ~ item.page %}
                    <h2><a href="{{ page.link }}">{{ page.title }}</a></h2>
                    <img src="{{ item.image }}" alt="{{ page.title }}" class="img-border">
                    <p>{{ page.teaser|nl2br }}</p>
                    <a href="{{ page.link }}" class="btn btn-inverse" title="{{ page.title }}">{{ item.btntext }} &raquo;</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}